.App {
  text-align: left;
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

.logo {
  color: white;
  font-family: 'Segoe UI';
  font-weight: 300;
  margin-left: 60px;
  margin-top: 5px;
  font-size: 64px;
  width: fit-content;
}

.logo:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

@font-face {
  font-family: 'CocoSharp';
  src: local('CocoSharp'), url(./fonts/Coco-Sharp-Light-trial.ttf) format('truetype');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
